<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CK - Document Service</title>
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <h1>CK - Document Service</h1>
	<ul>
		<li><a href="http://{{hostname}}:8081/metrics?pretty=true">Metics</a></li>
		<li><a href="http://{{hostname}}:8081/ping">Ping</a></li>
		<li><a href="http://{{hostname}}:8081/healthcheck">Healthcheck</a></li>
        <li><a href="http://{{hostname}}:8081/threads">Thread Dump</a></li>
        <li><a href="/api-docs/document">Document API Details</a></li>
        <li><a href="/swagger">Document API - Swagger UI</a></li>
    </ul>


   </div>
</body>
</html>